{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container mt-3">
<h1>Welcome to the Admin dashboard, {{ app.user.firstName }}!</h1>
<a href="{{ path('app_admin_user_index') }}" class="btn btn-primary fw-bold mt-3">Manage Customers</a><br>
<a href="{{ path('app_product_management_index') }}" class="btn btn-primary fw-bold mt-3">Manage Products</a>


</div>
{% endblock %}
